@media (max-width: 430px){
    nav{
        width:25%;
    }
    .container{
        width: 50%;
        margin-left: 45%;
    }

    .container .head{
        flex-direction: column;
        justify-content: flex-start;
        height: 15%;
        font-size: 5px !important;
    }

    .menu{
        display: block;
    }

    
    nav div{
        display: none;
    }

    nav img{
        display: none;
    }

    nav div p{
        font-size: 8;
    }

    nav div p:hover{
        text-decoration: underline;
        color: yellow;
    }


    .head img{
        display: none;
    }

    .info_music{
        flex-direction: column;
        overflow: scroll;
        height: 400px;
    }
    
    .musica, .traducao{
        width: 90%;
        margin-bottom: 20px;
        margin-top: 10px;
        opacity: 0.9;
    }

    .video img{
        display: none;
    }

    video{
        width: 90%;
        height: 90%;
    }
}

